// Define variables for your color scheme

// For example:
$red: #ff004c;
$blue: #00ffff;
$yellow: #ffb600;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: white;
$white-trans: #ffffff6e;
$black: black;
$canard: #00ffff75;
