<div class="pagebox">
  <div class="titlebox">
    <h1>RAPHAEL REYBAUT</h1>
    <p>GRAPHIC DESIGN & FULL STACK</p>
  </div>

  <div class="bio">
    <p>"Graphic designer since 1993, as well in Print and Digital.
    I focused on webdesign for brands and agencies.
    I recently attended Le Wagon Web Developer bootcamp
    batch #1056 in Nice, France."</p>
  </div>
</div>


<a href="https://drive.google.com/file/d/1YhhZeyrZ7cqlF797DrbH604P_AmAWiRP/view?usp=sharing">
  <div class="pdfbox">
    <p>Check my Resume if you have interest for my profile</p>
    <span>
      <button class="my-btn" href="https://drive.google.com/file/d/1YhhZeyrZ7cqlF797DrbH604P_AmAWiRP/view?usp=sharing">my pdf resume</button>
    </span>
  </div>
</a>
