.navbar-lewagon {
  margin: 0 10vw;
  position: absolute;
  top: 1.6vh;
  justify-content: space-between;
  background: none;
  width: -webkit-fill-available;
  border-bottom: solid 1px #004766;
  a {
    color: $white;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-toggler {
  background: linear-gradient(180deg,#006a81,  #00698100) !important;
}

.titlebox {
  position: fixed;
  left: 26%;
  top: 18px;
  line-height: 1px;
  text-align: left;
  h {
    color: white;
    font-weight: 100;
  }
  p {
    color: $canard;
    letter-spacing: 0.2em;
  }
}
